:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button: #042d4e;
  --logo-text-color: #000000;
  --white-text-bg: #ffffff;
  --trwhite-text-footer: rgba(255, 255, 255, 0.6);
  --bg-color-hero-footer: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;
  --bg-secondary-network: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-title,
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-text-bg);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.button {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-text-bg);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
  cursor: pointer;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--accent-button);
}

.header {
  border-bottom: 1px solid var(--border-color-header);
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo.link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav.list-item {
  margin-right: 50px;
}
.nav.list-item:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header .list-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.icon-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primery-text-color);
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.icon-contact {
  margin-right: 10px;
}

.contact-list .list-item + .list-item {
  margin-left: 30px;
}

.contact .link {
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--primery-text-color);
}
.contact .link:hover, .contact .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav .current-page {
  color: var(--accent-color);
}

.main-header,
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-text-bg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primery-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal-icon {
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.modal-icon:focus, .modal-icon:hover {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--secondary-text-color);
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 42px;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.modal-form-field:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: fill 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: fill 250ms var(--time-function), transform 250ms var(--time-function);
  transition: fill 250ms var(--time-function), transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 14px 16px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  cursor: pointer;
  resize: none;
  outline: none;
  color: var(--primery-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}
.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  gap: 7px;
}

.modal-form-checkbox:checked + .modal-form-agreement-icon .uncheck {
  opacity: 0;
}

.modal-form-checkbox:checked + .modal-form-agreement-icon .check {
  opacity: 1;
}

.uncheck {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.check {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.modal-form-agreement-desc {
  font-size: 14px;
  line-height: 1.7142857143;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form-agreement-link {
  color: var(--accent-color);
  text-underline-offset: 2px;
}

.modal-form-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-bg);
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.modal-form-btn:hover, .modal-form-btn:focus, .modal-form-btn:active {
  background-color: var(--accent-button);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color-hero-footer);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-overlay.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-overlay.jpg);
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  color: var(--white-text-bg);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}

.features-item.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-features {
  width: 70px;
  height: 70px;
  display: block;
}

.work {
  padding-top: 0;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}

.work__img {
  display: block;
}

.work__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-bg);
  z-index: 10;
}

.section.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--bg-secondary-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item {
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}

.team-card {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-text-bg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-item {
  display: block;
}

.team-item.title {
  margin-right: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-item.text {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-item-icon {
  width: 44px;
  height: 44px;
}

.icon-team-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
}

.icon-team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--bg-secondary-network);
  -webkit-transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
}
.icon-team-link:hover, .icon-team-link:focus {
  fill: var(--white-text-bg);
  background-color: var(--accent-color);
}

.client-section__title {
  color: var(--secondary-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client-section__item {
  width: 170px;
  height: 92px;
}

.client-section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--bg-secondary-network);
  border-radius: 4px;
  fill: var(--bg-secondary-network);
}
.client-section__link:hover, .client-section__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.icon-client {
  width: 106px;
  height: 60px;
}

.filter__list {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0px;
}

.filter__btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}
.filter__btn:hover, .filter__btn:focus, .filter__btn:active {
  color: var(--white-text-bg);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter__btn.all {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio {
  border-color: var(--border-color-portfolio);
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.portfolio__box {
  padding: 20px 24px 19px;
  background: var(--white-text-bg);
  border: 1px solid var(--border-color-portfolio);
  border-top: none;
}

.portfolio__item:hover .portfolio__overley {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__tumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overley {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-text-bg);
  font-size: 18px;
  line-height: 28px;
  padding: 0 24px;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.portfolio.title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero-footer);
}

.footer-element {
  margin-bottom: 20px;
}

.footer-logo {
  color: var(--white-text-bg);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.footer-list .footer-item {
  margin-bottom: 9px;
}
.footer-list .footer-item:last-child {
  margin-bottom: 0;
}

.footer-address .link {
  line-height: 1.5;
  font-style: normal;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.footer-address .link:hover, .footer-address .link:focus {
  color: var(--accent-color);
}

.footer-address .address {
  color: var(--white-text-bg);
}

.footer-address .contact {
  color: rgba(255, 255, 255, 0.6);
}

.text-footer {
  color: var(--white-text-bg);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container-social {
  margin-left: 70px;
  -ms-flex-preferred-size: 206px;
      flex-basis: 206px;
}

.footer-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-item-icon {
  width: 44px;
  height: 44px;
}

.footer-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--white-text-bg);
}

.footer-contact-container {
  -ms-flex-preferred-size: 231px;
      flex-basis: 231px;
}

.subscribe {
  margin-left: auto;
}

.subscribe-text {
  color: var(--white-text-bg);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.input-subscribe {
  padding: 0;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--bg-secondary-color);
}
.input-subscribe:focus::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.input-subscribe:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}
.input-subscribe:focus:-ms-input-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}
.input-subscribe:focus::-ms-input-placeholder {
  opacity: 1;
  transition-delay: 200ms;
}
.input-subscribe:focus::placeholder {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-bg);
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.subscribe-btn:hover, .subscribe-btn:focus, .subscribe-btn:active {
  background-color: var(--accent-button);
}

.icon-subscribe {
  width: 24px;
  height: 24px;
  fill: var(--white-text-bg);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */