.section-features {
  @extend %section;

  // justify-content: space-between;
  // box-sizing: border-box;
  // display: flex;
  // flex-wrap: wrap;
}

.features-list {
  display: flex;
}

.features-item {
  width: 450px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-item.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features-box {
  display: flex;
  width: auto;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.icon-features {
  width: 70px;
  height: 70px;
  display: block;
}
