.filter__list {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}

.filter__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0px;
  }
}

.filter__btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
  &:hover,
  &:focus,
  &:active {
    color: var(--white-text-bg);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.filter__btn.all {
  padding-left: 25px;
  padding-right: 25px;
}
