:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button: #042d4e;
  --logo-text-color: #000000;
  --white-text-bg: #ffffff;
  --trwhite-text-footer: rgba(255, 255, 255, 0.6);
  --bg-color-hero-footer: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;
  --bg-secondary-network: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
